{% comment %} 
  usage:
    this snippet is used to render column card
    
  code: 
    {%- render 'logo-card', logo_card_block: block -%}
{% endcomment %}

{% liquid
  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture
  
  capture image_alt
    echo logo_card_block.settings.image.alt | default: ''
  endcapture
%}

<div class="logo-card {% if section.settings.enable_grayscale %}logo-card--grayscaled{% endif %}">
  {%- if logo_card_block.settings.image != blank -%}
    {{-
      logo_card_block.settings.image.src |
      image_url: width: logo_card_block.settings.image.width |
      image_tag: class: 'image-class', alt: image_alt, widths: '540, 840', sizes: '(max-width: 767px) 540vw, 840vw', loading: loading_attr |
      escape
    -}}
  {%- else -%}
    {{- 'product-1' | placeholder_svg_tag: 'img--placeholder' -}}
  {%- endif -%}
</div>