.banner-card{
  margin: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  word-break: break-word;
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
}

a.banner-card{
  display: block;
}

a.banner-card:focus-visible{
  box-shadow: 0 0 2px 2px var(--section-focus-outline-color);
}

.banner-card_img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #E6E8EC;
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
}

.banner-card_img img{
  transition: transform 0.6s ease;
  transform-origin: 50% 50% 0;
}

.banner-card_img img,
.banner-card_img .img--placeholder{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.banner-card_img .img--placeholder{
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}

.banner-card .button{
  max-width: 80%;
  position: absolute;
  z-index: 1;
}

.banner-card--clickable .button::before{
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  left: -9999px;
  bottom: -9999px;
  content: '';
}

.banner-card .banner-card_button--top_left{
  top: 30px;
  left: 30px;
}

.banner-card .banner-card_button--top_right{
  top: 30px;
  right: 30px;
}

.banner-card .banner-card_button--bottom_left{
  left: 30px;
  bottom: 30px;
}

.banner-card .banner-card_button--bottom_right{
  right: 30px;
  bottom: 30px;
}

.banner-card .banner-card_button--bottom_full{
  text-align: center;
  bottom: 30px;
  left: 30px;
  right: 30px;
  max-width: none;
}