.modal-component--cart-drawer .modal-component_wrapper{
  --top-radius: 15px;
  --button-radius: 5px;
  --bottom-radius: 15px;
  box-shadow: -20px 20px 30px rgba(0,0,0,0.1);
  background-color: var(--section-background-color);
  color: var(--section-text-color);
  padding: 0;
  max-width: 490px;
  width: 100%;
  display: flex;
}

.modal-component--cart-drawer .modal-component_body{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-component--cart-drawer .modal-component_head,
.modal-component--cart-drawer .modal-component_foot{
  flex-shrink: 0;
}

.modal-component--cart-drawer .modal-component_content{
  flex-grow: 1;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  min-height: calc(100vh - 455px);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-component--cart-drawer .modal-component_head{
  padding: 10px 25px 0;
}

.cart-min-value{
  color: var(--section-warning-color);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.modal-component--cart-drawer .modal-component_heading{
  display: block;
  font-size: 2.6rem;
  line-height: 3.4rem;
  letter-spacing: -0.8px;
}

.modal-component--cart-drawer .cart-drawer_text-subtitle{
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;
  margin-bottom: 18px;
}

.modal-component--cart-drawer .quantity-holder{
  display: flex;
  align-items: center;
}

.modal-component--cart-drawer quantity-input{
  max-width: 148px;
  margin-right: 11px;
}

.modal-component--cart-drawer quantity-input input[type=number]{
  height: auto;
  --input-padding-y: 1.3rem;
  --input-padding-x: 40px;
}

.modal-component--cart-drawer .cart-item--remove{
  font-size: 1.2rem;
}

.modal-component--cart-drawer .discounts__discount--end .ico-discount{
  vertical-align: -0.3em;
  margin-right: 5px;
}

.cart-free-shipping-box .free-shipping-progress{
  width: 100%;
  height: 6px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: var(--section-border-color);
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
}

.cart-free-shipping-box .free-shipping-progress span{
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: inherit;
  background-color: var(--section-success-color);
}

.cart-free-shipping-box .shipping-subtitle{
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

.cart-free-shipping-box .shipping-subtitle strong{
  font-weight: 600;
  color: var(--section-input-text-color);
  background-color: var(--section-input-background-color);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 99px;
  font-size: 1.6rem;
}

.modal-component--cart-drawer .cart-item-row .imgbox{
  width: 63px;
  float: left;
  margin: 4px 0 0;
  overflow: hidden;
  position: relative;
  border-radius: calc(var(--top-radius)/2) calc(var(--top-radius)/2) calc(var(--bottom-radius)/2) calc(var(--bottom-radius)/2);
  border: 1px solid var(--section-border-color);
}

.modal-component--cart-drawer .cart-item-row .imgbox img{
  width: 100%;
  border-radius: inherit;
  vertical-align: top;
}

.modal-component--cart-drawer .cart-item-row .prod-holder{
  padding: 0 16px;
  overflow: hidden;
}

.modal-component--cart-drawer .cart-item-row .vendor-text{
  color: var(--section-alternative-color);
  display: block;
  font-size: 1.2rem;
  line-height: 2rem;
  word-break: break-word;
}

.modal-component--cart-drawer .cart-item-row .cart-item-heading{
  font-weight: 600;
  --mt-bottom: 7px;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  display: block;
}

.modal-component--cart-drawer .cart-item-row .cart-item-heading > a{
  text-decoration: none;
}

.modal-component--cart-drawer .cart-item-row .cart-item-heading > a:hover{
  color: var(--section-active-hover-color);
}

.modal-component--cart-drawer .cart-item-row .price-holder{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 8px 2px 3px;
  letter-spacing: -0.2px;
  column-gap: 5px;
  margin-bottom: 10px;
}

.modal-component--cart-drawer .cart-item-row .price-holder .price{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3rem;
}

.modal-component--cart-drawer .cart-item-row .price-holder .old-price{
  color: var(--section-alternative-color);
  font-size: 1.4rem;
}

.modal-component--cart-drawer .cart-item-row .price-holder .unit-price{
  color: var(--section-alternative-color);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  width: 100%;
}

.modal-component--cart-drawer .cart-item-row .product-option{
  padding: 0 4px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 17px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.modal-component--cart-drawer .cart-item-row .product-option span{
  display: inline-block;
  vertical-align: middle;
}

.modal-component--cart-drawer .cart-item-row .product-option .color-box{
  width: 14px;
  height: 14px;
  margin: 0 7px 0 0;
  border-radius: calc(var(--top-radius)/4) calc(var(--top-radius)/4) calc(var(--bottom-radius)/4) calc(var(--bottom-radius)/4);
  order: -1;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.06);
}

.modal-component--cart-drawer .clr_dot{
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.cart-item--remove .ico{
  pointer-events: none;
  vertical-align: middle;
}

.modal-component--cart-drawer .cart-item-row .cart-item--remove{
  border: 0;
  background-color: transparent;
  padding: 6px 10px;
  color: var(--section-error-color);
  text-decoration: underline;
  display: inline-block;
  transition: transform 0.1s ease;
}

.modal-component--cart-drawer .cart-item-row .cart-item--remove:hover{
  transform: scale(1.04);
}

.modal-component--cart-drawer .modal-component_foot{
  overflow: hidden;
  padding: 10px;
}

.modal-component--cart-drawer .modal-component_foot .holder {
  z-index: 1;
  overflow: hidden;
  position: relative;
  line-height: 2rem;
  padding: 15px;
  border-radius: calc(var(--button-radius)/2);
}

.modal-component--cart-drawer .modal-component_foot .tax-note{
  display: block;
  margin-bottom: 6px;
}

.modal-component--cart-drawer .modal-component_foot .holder + .holder {
  margin-top: 8px;
  text-align: center;
}

.modal-component--cart-drawer .modal-component_foot .holder:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  opacity: 0.1;
  position: absolute;
  background: var(--section-primary-bg);
}

.modal-component--cart-drawer .modal-component_foot .total-holder{
  font-size: 1.6rem;
  display: flex;
  gap: 10px;
  word-break: break-word;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
  flex-direction: column;
}

.modal-component--cart-drawer .modal-component_foot .total-holder .text{
  flex-grow: 1;
  font-weight: 600;
  text-decoration: underline;
}

.modal-component--cart-drawer .modal-component_foot .total-holder{
  font-weight: 700;
}

.modal-component--cart-drawer .button-holder {
  text-align: center;
  overflow: hidden;
}

.modal-component--cart-drawer .button-top-checkout{
  display: block;
  width: 100%;
  margin-bottom: 11px;
  --button-padding-y: 1.8rem;
}

.modal-component--cart-drawer .wrap-button{
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
}

.modal-component--cart-drawer .wrap-prod{
  display: block;
  padding-top: 26px;
}

.modal-component--cart-drawer .wrap-prod .checkbox-control{
  font-size: 1.6rem;
  margin-bottom: 6px;
  position: relative;
  line-height: 2.5rem;
  padding-left: 34px;
}

.modal-component--cart-drawer .wrap-prod label {
  display: block;
  position: relative;
  transition: all ease 0.3s;
}

.modal-component--cart-drawer .wrap-prod label:after {
  top: 2px;
  left: -33px;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  transition: all ease 0.3s;
  border-radius: calc(var(--button-radius)/2);
  border: 2px solid var(--section-primary-bg);
}

.modal-component--cart-drawer .wrap-prod  label svg {
  top: 5px;
  z-index: 1;
  left: -30px;
  display: none;
  position: absolute;
  transition: all ease 0.3s;
  color: var(--section-background-color);
}

.modal-component--cart-drawer .wrap-prod input[type="checkbox"]:checked + label svg {
  display: block;
}

.modal-component--cart-drawer .wrap-prod input[type="checkbox"]:checked + label:after {
  background: var(--section-primary-bg);
}

.modal-component--cart-drawer .wrap-prod input[type="checkbox"] {
  top: 0;
  left: 0;
  width: 0;
  margin: 0;
  border: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  appearance: none;
  position: absolute;
  color: transparent;
  background-color: transparent;
}

.cart-drawer_empty{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 370px;
}

.cart-drawer_empty .icon-empty-cart{
  display: block;
  margin: 0 auto 36px;
}

.cart-drawer_empty .title{
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cart-drawer_empty .button{
  max-width: 295px;
  margin: 0 auto 37px;
  --button-padding-y: 1.8rem;
  box-shadow: 0 0  10px 0 rgba(0,0,0,0.1);
}

.cart-drawer_empty .subtitle{
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
  margin-bottom: 14px;
}

.cart-drawer_empty .subtext{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.cart-drawer_empty .subtext a{
  text-decoration: underline;
}

.cart-drawer_empty .subtext a:hover{
  text-decoration: none;
}

.cart-item-row--error{
  color: #fff;
  z-index: 2;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
  background-color: red;
  border-radius: calc(var(--button-radius)/2);
  padding: 5px 10px;
  margin-top: 10px;
  word-break: break-word;
}

.cart-drawer_related-wrapper,
.cart-drawer_empty-collection{
  padding: 33px 24px;
}

.modal-component--cart-drawer .product-complementary-row{
  display: block;
}

.modal-component--cart-drawer .product-complementary-row,
.modal-component--cart-drawer .product-complementary-row .product-column-row_description{
  overflow: hidden;
}

.product-column-row_heading > a{
  text-decoration: none;
}

.modal-component--cart-drawer .product-complementary-row .product-column-row_btn-wrap{
  padding-left: 100px;
}

.cart-drawer_rel-title{
  display: block;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-right: 70px;
}

.modal-component--cart-drawer .product-column-row_image{
  float: left;
  margin-right: 20px;
}

.modal-component--cart-drawer .product-column-row_image .product-thumbnail,
.modal-component--cart-drawer .product-column-row_image .product-thumbnail_link{
  height: 100%;
  width: 100%;
}

.modal-component--cart-drawer .product-column-row_btn-wrap a{
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.modal-component--cart-drawer .product-column-row_btn-wrap a svg{
  margin-right: 10px;
  vertical-align: -0.2em;
}

.modal-component--cart-drawer .splide:not(.is-overflow) .splide__arrow{
  display: block;
}

.modal-component--cart-drawer splide-slider{
  display: block;
  margin-top: -40px;
  padding-top: 60px;
}

.modal-component--cart-drawer .cart-item-row dl.product-option{
  display: block;
  word-break: break-word;
  font-weight: 400;
}

.modal-component--cart-drawer dl.product-option dt{
  font-weight: 600;
}

.modal-component--cart-drawer dl.product-option dt,
.modal-component--cart-drawer dl.product-option dd{
  margin: 0;
}

.modal-component--cart-drawer .discounts{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 5px;
}

.modal-component--cart-drawer .discounts > li{
  color: var(--section-background-color);
  background-color: var(--section-text-color);
}

.modal-component--cart-drawer .discounts > li{
  border-radius: calc(var(--top-radius)/4) calc(var(--top-radius)/4) calc(var(--bottom-radius)/4) calc(var(--bottom-radius)/4);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
  padding: 7px;
}

.modal-component--cart-drawer .discounts svg{
  margin-right: 5px;
  vertical-align: -0.15em;
}

.modal-component--cart-drawer .ico-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: calc(var(--top-radius)/2) calc(var(--top-radius)/2) calc(var(--bottom-radius)/2) calc(var(--bottom-radius)/2);
  overflow: hidden;
  color: var(--section-background-color);
  margin-left: 10px;
  z-index: 1;
}

.modal-component--cart-drawer .ico-wrapper::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--section-text-color);
  opacity: 0.5;
  z-index: -1;
}

.product_plan-description{
  border-radius: calc(var(--top-radius)/4) calc(var(--top-radius)/4) calc(var(--bottom-radius)/4) calc(var(--bottom-radius)/4);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
  padding: 7px;
  background-color: var(--section-text-color);
  color: var(--section-background-color);
  display: inline-block;
  vertical-align: top;
}

.mcdraw_options-list{
  font-size: 1.3rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 11px;
  word-break: break-word;
}

.mcdraw_options-list > li{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.mcdraw_options-list_title{
  flex-shrink: 0;
  font-weight: 600;
  max-width: 150px;
}

.mcdraw_options-list_value{
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: 400;
}

.modal-component--cart-drawer .splide__arrows{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  top: -66px;
}

.modal-component--cart-drawer .splide:not(.is-overflow) .splide__arrow{
  display: block;
}

.modal-component--cart-drawer .splide__arrows svg{
  width: 16px;
}

.modal-component--cart-drawer .splide__arrow--next{
  transform: rotate(180deg);
  padding-right: 30px;
  padding-left: 0;
}

.cart-drawer_empty-collection{
  display: flex;
  flex-direction: column;
  border: solid var(--section-border-color);
  border-width: 1px 0;
}

.cde_icn-wrap{
  display: block;
}

@media (min-width: 576px) {
  .modal-component--cart-drawer .modal-component_head{
    padding-left: 24px;
    padding-right: 60px;
  }
  
  .modal-component--cart-drawer .modal-component_foot .holder{
    padding: 25px 22px 13px 20px;
  }
  
  .modal-component--cart-drawer .cart-item-row .imgbox{
    width: 93px;
  }

  .modal-component--cart-drawer .modal-component_foot .total-holder{
    font-size: 2rem;
  }

  .modal-component--cart-drawer .modal-component_foot .total-holder{
    flex-direction: row;
    align-items: center;
  }

  .modal-component--cart-drawer .modal-component_foot{
    padding: 18px;
  }
}

@media (min-width: 1200px){
  .modal-component--cart-drawer{
    --top-radius: var(--section-top-radius);
    --button-radius: var(--button-corner-radius);
    --bottom-radius: var(--section-bottom-radius);
  }
}

@media (max-height: 499px){
  .modal-component--cart-drawer .modal-component_content{
    min-height: calc(100vh - 135px);
  }
}