.collection-card_link{
  width: 100%;
  display: block;
  text-decoration: none;
}

.collection-card_link:focus-visible{
  outline-offset: 0;
}

.collection-card_img{
  width: 100%;
  overflow: hidden;
  --mt-bottom: 13px;
  padding-top: 100%;
  position: relative;
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
}

.collection-card_img path{
  fill: currentColor;
}

.--view-eclipse .collection-card_img{
  padding-top: 73%;
  border-radius: calc(var(--top-radius)*7) calc(var(--top-radius)*7) calc(var(--bottom-radius)*7) calc(var(--bottom-radius)*7);
}

.collection-card_img img{
  transition: transform 0.4s ease;
  transform-origin: 50% 50% 0;
}

.collection-card_img img,
.collection-card_caption{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.collection-card_img .img--placeholder{
  top: 50%;
  left: 50%;
  width: 70%;
  height: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.--animate-media .collection-card_img img{
  transform: translateY(37%);
  object-fit: contain;
}

.collection-card.--animate-media:hover .collection-card_img img{
  transform: translateY(0);
}

.collection-card_caption{
  padding: 5px;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.collection-card_img:not(.--has-image){
  border: 1px solid var(--section-border-color);
}

.collection-card_tag{
  left: 0;
  right: 0;
  top: 30px;
  display: flex;
  padding: 0 10px;
  position: absolute;
  pointer-events: none;
  justify-content: center;
  max-height: calc(100% - 60px);
  overflow: hidden;
  z-index: 1;
}

.collection-card_tag strong{
  padding: 2px 9px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  border-radius: calc(var(--button-radius)*5);
  word-break: break-word;
  display: block;
  background-color: var(--cltag-bg);
  color: var(--cltag-text);
}

@media (min-width: 576px){
  .collection-card_img{
    --mt-bottom: 18px;
  }
}

@media (min-width: 768px){
  .--view-eclipse .collection-card_img{
    border-radius: calc(var(--top-radius)*5) calc(var(--top-radius)*5) calc(var(--bottom-radius)*5) calc(var(--bottom-radius)*5);
  }
}