.newsletter-form .field__input {
	border-color: transparent transparent #D9D9D9;
	color: #000000;
	height: 55px;
	padding: 0 20px 7px 0;
	width: 100%;
	transition: border-color 0.35s ease;
}

.newsletter-form .field__input:focus {
	border-color: transparent transparent #000000;
}

.newsletter-form .field__input::placeholder {
	color: #525151;
}

.newsletter-form .field__input:-moz-placeholder {
	color: #525151;
}

.newsletter-form .field__input:-ms-input-placeholder {
	color: #525151;
}

.newsletter-form__field-wrapper {
	position: relative;
}

.page-footer-column_text-block p + .footer-block__newsletter {
	margin-top: -11px;	
}
	
.newsletter-form__button {
	position: absolute;
	right: 3px;
	top: 16px;
	transform: rotate(-90deg);
	padding: 0;
	border: 0;
	color: #525151;
	background-color: transparent;
}

.newsletter-form__button:hover,
.newsletter-form__button:focus {
	color: #000000;
}

.newsletter-form__message {
	justify-content: center;
	margin-bottom: 0;
}

.newsletter-form__message--success {
	margin-top: 2rem;
}	