.contact-form {
  --padding-top: calc(var(--section-padding-top)/100*70);
  --padding-bottom: calc(var(--section-padding-bottom)/100*70);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  overflow: hidden;
}

.contact-form_timings {
  border-radius: 9px;
  background-color: var(--section-primary-bg);
  color: var(--section-primary-text-color);
  padding: 17px 33px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

.contact-form_address {
  font-size: 1.8rem;
  line-height: 3.1rem;
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
}

#ContactForm {
  margin-top: 20px;
}

.contact-form_heading.mty{
  --mt-top: 35px;
}

.contact-form_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.contact-form_col {
  position: relative;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-word;
}

.contact-form_results-wrap{
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-top: 10px;
}

.field {
  margin-bottom: 15px;
}

.contact__button {
  margin-top: 25px;
}

.contact__button button {
  display: block;
  width: 100%;
  --button-padding-y: 1.717rem;
}

.contact-form_map-wrap {
  border: 1px solid #D3D3D3;
  border-radius: 9px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.contact-form_map-wrap iframe {
  width: 100%;
  height: 100%;
  border: 0;
  min-height: 250px;
}

.contact-form textarea.form-control {
  resize: none;
  min-height: 180px;
}

.form__message {
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
}

.form__message.success_message{
  color: var(--section-success-color);
}

.success_message.mty {
  --mt-bottom: 20px;
}

.ico-error {
  margin-right: 10px;
  display: none;
}

.errors_list {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
  color: var(--section-error-color);
  padding-left: 20px;
}

.errors_list li {
  margin-top: 15px;
}

.errors_list li a {
  display: inline-block;
  color: var(--section-error-color);
}

.contact-form_error {
  margin-top: 8px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  justify-content: flex-start;
  color: var(--section-error-color);
}

@media (min-width: 768px){
  .col-desktop-half {
    max-width: 50%;
    flex: 0 0 50%;
  }
  
  #ContactForm {
    margin-top: 36px;
  }

  .contact-form_heading.mty{
    --mt-top: 0;
  }

  .contact-form {
    --padding-top: calc(var(--section-padding-top)/100*85);
    --padding-bottom: calc(var(--section-padding-bottom)/100*85);
  }
}

@media (min-width: 992px){
  .contact-form_address {
    margin-bottom: 98px;
  }

  .contact-form_row {
    margin-left: -25px;
    margin-right: -25px;
  }
  
  .contact-form_col {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1200px){
  .contact-form {
    --padding-top: var(--section-padding-top);
    --padding-bottom: var(--section-padding-bottom);
  }

  .contact-form textarea.form-control{
    min-height: 288px;
  }
  
  .contact-form_row {
    margin-left: -38px;
    margin-right: -38px;
  }
  
  .contact-form_col {
    padding-left: 38px;
    padding-right: 38px;
  }
}