.email-signup{
  --top-radius: 15px;
  --bottom-radius: 15px;
  --padding-top: calc(var(--section-padding-top)/100*70);
  --padding-bottom: calc(var(--section-padding-bottom)/100*70);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.email-signup .email-signup_wrapper.scheme{
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
  overflow: hidden;
  position: relative;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  color: inherit;
}

.email-signup_description{
  background-color: var(--section-background-color);
  color: var(--section-text-color);
}

.email-signup_description,
.email-signup_align{
  width: 100%;
}

.email-signup_align{
  padding: 40px 20px;
}

.email-signup_image{
  width: 40%;
  display: none;
  flex-shrink: 0;
  position: relative;
  border-radius: var(--bottom-radius) 0 0 var(--bottom-radius);
}

.email-signup_image.email-signup_image--has-bg{
  background-color: var(--section-input-background-color);
}

.email-signup_image img,
.email-signup_image .img--placeholder{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email-signup_image .img--placeholder path{
  fill: var(--section-input-text-color);
}

.email-signup.scheme.--section_no_border{
  border-radius: 0;
}

.email-signup_heading{
  --mt-bottom: 14px;
}

.email-signup_heading,
.email-signup_text{
  word-break: break-word;
}

.email-signup_text p{
  margin-bottom: 0;
  margin-top: 0;
}

.email-signup_icn-wrapper{
  --mt-bottom: 34px;
  display: block;
}

.email-signup_icn-wrapper > .ico{
  width: 50px;
  height: 55px;
}

.email-signup.--align-center .newsletter-form{
  margin-left: auto;
  margin-right: auto;
}

.email-signup.--align-center .email-signup_list-social{
  justify-content: center;
}

.email-signup.--align-right .newsletter-form{
  margin-left: auto;
}

.email-signup.--align-right .email-signup_list-social{
  justify-content: flex-end;
}

.email-signup .newsletter-form{
  margin-top: 29px;
  width: 100%;
  max-width: 481px;
}

.email-signup_list-social{
  margin-top: 40px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.email-signup_list-social svg{
  width: 24px;
  height: auto;
  transition: all ease 0.3s;
}

.email-signup_list-social .list-social_link:hover svg{
  transform: scale(1.1);
}

.email-signup_list-social .list-social_link{
  display: block;
  padding: 10px;
  margin: -10px;
}

@media (min-width: 576px){
  .email-signup_description{
    display: flex;
  }
  
  .email-signup_align{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .email-signup_image{
    display: block;
  }
}
@media (min-width: 768px){
  .email-signup{
    --padding-top: calc(var(--section-padding-top)/100*85);
    --padding-bottom: calc(var(--section-padding-bottom)/100*85);
  }
  
  .email-signup_description{
    min-height: 535px;
  }
  
  .email-signup_align{
    padding-left: 40px;
    padding-right: 40px;
  }

  .email-signup_icn-wrapper > .ico{
    width: 107px;
    height: 110px;
  }
}
@media (min-width: 1200px){
  .email-signup{
    --top-radius: var(--section-top-radius);
    --padding-top: var(--section-padding-top);
    --bottom-radius: var(--section-bottom-radius);
    --padding-bottom: var(--section-padding-bottom);
  }

  .email-signup_image{
    width: 460px;
  }
}
@media (max-width: 767px){
  .email-signup.--mobile-align-center .newsletter-form{
    margin-left: auto;
    margin-right: auto;
  }
  
  .email-signup.--mobile-align-center .email-signup_list-social{
    justify-content: center;
  }
}