.featured-blog {
  --mobile-columns-count: 1;
}

.featured-blog .button-wrap {
  text-align: center;
  margin-top: 40px;
}

.featured-blog_wrapper {
  --padding-top: calc(var(--section-padding-top)/100*70);
  --padding-bottom: calc(var(--section-padding-bottom)/100*70);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.featured-blog .elem-header {
  --mt-bottom: 20px;
}

.featured-blog .elem-header .mty {
  --mt-bottom: 5px;
}

.featured-blog .elem-header .elem-header_text {
  font-weight: 500;
  --mt-top: 0;
}

.featured-blog .elem-header_text p {
  margin-top: 0;
  margin-bottom: 0;
}

.featured-blog_grid {
  gap: 15px;
}

@media (min-width: 576px) {
  .featured-blog {
    --mobile-columns-count: 2;
  }

  .featured-blog .elem-header {
    --mt-bottom: 25px;
  }

  .featured-blog_grid {
    gap: 20px 15px;
  }
}

@media (min-width: 768px) {
  .featured-blog_holder,
  .featured-blog_slider {
    position: relative;
  }

  .featured-blog_slider .splide {
    position: static;
  }

  .featured-blog {
    --desktop-columns-count: 2;
  }

  .featured-blog_wrapper {
    --padding-top: calc(var(--section-padding-top)/100*85);
    --padding-bottom: calc(var(--section-padding-bottom)/100*85);
  }

  .featured-blog_grid {
    gap: 25px 20px;
  }

  .featured-blog .elem-header {
    --mt-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .featured-blog {
    --desktop-columns-count: 3;
  }

  .featured-blog .elem-header {
    --mt-bottom: 40px;
  }

  .featured-blog_grid {
    gap: 30px 25px;
  }
}

@media (min-width: 1200px) {
  .featured-blog {
    --desktop-columns-count: var(--columns-count);
  }

  .featured-blog_wrapper {
    --padding-top: var(--section-padding-top);
    --padding-bottom: var(--section-padding-bottom);
  }

  .featured-blog_grid {
    gap: 40px 28px;
  }

  .featured-blog .elem-header {
    --mt-bottom: 60px;
  }
}