.footer-top{
  --top-radius: 15px;
  --bottom-radius: 15px;
}

.footer-top.top_corners_radius.scheme,
.footer-top.top_corners_radius .footer-top_wrapper.scheme{
  border-radius: var(--top-radius) var(--top-radius) 0 0;
}

.footer-top.bottom_corners_radius.scheme,
.footer-top.bottom_corners_radius .footer-top_wrapper.scheme{
  border-radius: 0 0 var(--bottom-radius) var(--bottom-radius);
}

.footer-top.both_corners_radius.scheme,
.footer-top.both_corners_radius .footer-top_wrapper.scheme{
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
}

.footer-top_wrapper{
  --padding-top: calc(var(--section-padding-top)/100*70);
  --padding-bottom: calc(var(--section-padding-bottom)/100*70);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.footer-top_holder{
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gutter-x);
}

.footer-top_list-social{
  margin-top: 40px;
  line-height: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-top_list-social svg{
  width: 24px;
  height: auto;
  transition: all ease 0.3s;
}

.footer-top_list-social .list-social_link:hover svg{
  transform: scale(1.1);
}

.footer-top_list-social .list-social_link{
  display: block;
  padding: 9px;
  margin: -9px;
}

.footer-top_col{
  flex: 1 0 calc(100% - var(--grid-gutter-x));
  font-weight: 500;
}

.footer-top_links-list_item{
  text-decoration: none;
  word-break: break-word;
  margin-bottom: 8px;
}

a.footer-top_links-list_item:hover{
  text-decoration: underline;
}

.footer-top .mty{
  --mt-bottom: 30px;
}

.footer-top_description p{
  margin: 0;
}

.footer-top_col .footer-top_description ol,
.footer-top_col .footer-top_description ul{
  margin-top: 0;
  line-height: 3rem;
  padding-left: 10px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .footer-top_holder .footer-top_col:not(:first-child){
    flex: 1 0 calc(50% - var(--grid-gutter-x));
  }
}

@media (min-width: 768px) {
  .footer-top_holder .footer-top_col:not(:first-child){
    flex: 1 0 calc(50% - var(--grid-gutter-x));
  }
  
  .footer-top_wrapper{
    --padding-top: calc(var(--section-padding-top)/100*85);
    --padding-bottom: calc(var(--section-padding-bottom)/100*85);  
  }
}

@media (min-width: 992px) {
  .footer-top_holder .footer-top_col,
  .footer-top_holder .footer-top_col:not(:first-child){
    flex: 1 0 calc(33.333% - var(--grid-gutter-x));
  }
}

@media (min-width: 1200px){
  .footer-top{
    --top-radius: var(--section-top-radius);
    --bottom-radius: var(--section-bottom-radius);
  }
  
  .footer-top_wrapper{
    --padding-top: var(--section-padding-top);
    --padding-bottom: var(--section-padding-bottom);
  }
  
  .footer-top_holder{
    padding: 0 calc(var(--grid-gutter-x)/2);
  }
  
  .footer-top_list-social {
    gap: 25px;
  }

  .footer-top_list-social svg{
    width: 26px;
  }
  
  .footer-top_holder .footer-top_col,
  .footer-top_holder .footer-top_col:not(:first-child){
    flex: 1 0 calc(25% - var(--grid-gutter-x));
  }
}