.main-password {
  /* --padding-top: 50px;
  --padding-bottom: 50px; */
}

.main-password_wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  --padding-top: calc(var(--section-padding-top)/100*70);
  --padding-bottom: calc(var(--section-padding-bottom)/100*70);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  min-height: 100vh;
}

.modal-component--password.modal-component--centered .modal-component_body{
  padding: 0;
  box-shadow: none;
  background: transparent;
  border: 0;
}

.main-password_wrapper > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.site-logo {
  margin-bottom: 83px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: var(--logo-width);
}

.site-logo img {
  width: 100%;
}

.brand-name h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 2.6rem;
}

.brand-name h1.mty {
  --mt-bottom: 43px;
}

.main-password_body {
  flex-grow: 1;
}

.main-password_body-wrap {
  padding: 40px 25px 34px;
  --top-radius: var(--section-top-radius);
  --bottom-radius: var(--section-bottom-radius);
  border-radius: calc(var(--top-radius)/2) calc(var(--top-radius)/2) calc(var(--bottom-radius)/2) calc(var(--bottom-radius)/2);
  border: 1px solid var(--section-border-color);
  max-width: 554px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-password_heading.mty {
  --mt-bottom: 35px;
}

.main-password_message {
  max-width: 780px;
  margin: 0 auto 30px;
  line-height: 2.8rem;
}

.main-password .newsletter-form_submit-button,
.password-button {
  display: block;
  width: 100%;
  margin-top: 23px;
  --button-padding-y: 1.725rem;
}

.password_btn-opener {
  max-width: fit-content;
  margin: 20px auto 0;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  transition: color .35s ease;
  padding: 6px 0;
  color: var(--section-links-color);
}

.main-password .underlined-link{
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.password_btn-opener:hover{
  color: var(--section-active-hover-color);
}

.newsletter-form_success-wrap {
  color: var(--section-success-color);
}

.newsletter-form_errors-wrap .ico,
.newsletter-form_success-wrap .ico{
  vertical-align: -0.4em;
  margin-right: 3px;
}

#PasswordLoginForm-password-error {
  color: var(--section-error-color);
  margin-top: 5px;
  font-size: 1.4rem;
}

#PasswordLoginForm-password-error .ico-error {
  vertical-align: sub;
}

.password_btn-opener .ico {
  vertical-align: text-bottom;
  margin-right: 9px;
}

.password-modal .modal__content {
  position: relative;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rel-container{
  position: relative;
}

.password-modal__content {
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.password-body_footer {
  margin-top: 10px;
}

.password-modal__content-heading {
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 35px;
  font-weight: 600;
}

.password-modal .modal__close-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 20px;
  transition: color .35s ease;
  color: var(--section-links-color);
}

.password-modal .modal__close-button .ico {
  margin-right: 15px;
  vertical-align: middle;
}

.main-password_footer {
  margin-top: 20px;
}

.newsletter-form_errors-wrap{
  margin-top: 10px;
}

.newsletter-form_errors-wrap .ico{
  vertical-align: -0.3em;
}

@media (max-width: 575px){
  .password_btn-opener .ico{
    margin-right: 7px;
    width: 19px;
    height: 20px;
  }
  
  .password_btn-opener{
    font-size: 1.4rem;
  }
}

@media (min-width: 576px){
  .main-password_body-wrap {
    padding: 60px 25px 54px;
  }
}

@media (min-width: 768px){
  .password_btn-opener{
    margin: 45px auto 0;
  }

  .password-modal .modal__close-button{
    margin-top: 35px;
  }
  
  .main-password_wrapper {
    --padding-top: calc(var(--section-padding-top)/100*85);
    --padding-bottom: calc(var(--section-padding-bottom)/100*85);
  }
}

@media (min-width: 1200px) {
  .main-password_wrapper {
    --padding-top: var(--section-padding-top);
    --padding-bottom: var(--section-padding-bottom);
  }
}