.product-complementary-row{
  display: flex;
  column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.product-column-row_image{
  width: 100px;
  flex-grow: 0;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  border-radius: calc(var(--top-radius)/2) calc(var(--top-radius)/2) calc(var(--bottom-radius)/2) calc(var(--bottom-radius)/2);
}

.product-column-row_image:after{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: .1;
  position: absolute;
  pointer-events: none;
  border: 1px solid var(--section-text-color);
  border-radius: calc(var(--top-radius)/2) calc(var(--top-radius)/2) calc(var(--bottom-radius)/2) calc(var(--bottom-radius)/2);
}

.product-column-row_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-column-row_description{
  flex-grow: 1;
}

.product-column-row_description .price{
  font-weight: 600;
  font-size: 1.4rem;
}

.product-column-row_description .unit-price,
.product-column-row_description .regular-price{
  opacity: 0.6;
  font-size: 1.2rem;
}

.product-column-row_description .unit-price{
  
}