range-slider input[type="number"]{
  -webkit-appearance: textfield;
}

input[type='range'] {
  width: 100%;
  padding: 22px 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

input[type='range'].max{
  padding-right: 2px;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: var(--section-border-color);
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: var(--section-alternative-color);
  border: 1px solid var(--section-alternative-color);
  border-radius: 25px;
  z-index: 1;
}

input[type='range']:focus-visible{
  outline: 2px solid currentColor;
  outline-offset: 3px;;
}

input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

range-slider{
  position: relative;
  width: 100%;
  display: block;
}

.range_min,
.range_max{
  flex-grow: 1;
  text-align: center;
  background: var(--section-primary-bg);
  color: var(--section-primary-text-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  height: 50px;
  border-radius: calc(var(--top-radius) / 2);
  font-weight: 500;
}

range-slider input{
  position: absolute;
}

.range_wrapper{
  display: flex;
  align-items: center;
  column-gap: 21px;
  padding-top: 50px;
}

.range_sep{
  flex-shrink: 0;
  line-height: 0;
}

/* Proof of concept for Firefox */
@-moz-document url-prefix() {
  range-slider::before{
    content:'';
    height:4px;
    border-radius: var(--top-radius);
    background: var(--section-border-color);
    display:block;
    position: relative;
    top: 16px;
    left: 5px;
    width: calc(100% - 10px);
  }

  range-slider input[type="range"]{
    padding: 0;
  }

  input.min,
  input.max{
    position:absolute;
    top: 15px !important;
    overflow:visible !important;
    height:0;
  }
  
  input[type='range']::-moz-range-thumb {
    position: relative;
    height: 17px;
    width: 17px;
    margin-top: -7px;
    background: var(--section-secondary-bg);
    border: 0;
    border-radius: calc(var(--top-radius) / 4);
    z-index: 1;
  }
}