.featured-collection-tabs tabset-component{
  display: block;
}

.featured-collection-tabs .tabset-component_opener{
  display: flex;
  width: 100%;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
  transition: all ease 0.5s;
  padding: 17px 25px;
  border: 0;
  background-color: transparent;
  text-align: left;
}

.featured-collection-tabs .tabset-component_opener > .focus{
  flex-grow: 1;
}

.featured-collection-tabs .tabset-component_opener[aria-selected="true"],
.featured-collection-tabs .tabset-component_opener:hover{
  color: var(--section-active-hover-color);
}

.featured-collection-tabs .tabset-component_opener > .ico{
  flex-shrink: 0;
}

.featured-collection-tabs .tabset-component_opener:focus-visible{
  outline-offset: -9px;
}

.featured-collection-tabs_sidebar .tabset-content_heading{
  flex-grow: 1;
  font-weight: 700;
  font-size: 2rem;
}

.featured-collection-tabs_heading{
  flex-grow: 1;
  font-weight: 700;
}

.featured-collection-tabs_head-wrap{
  display: flex;
  column-gap: 15px;
  align-items: end;
  padding-top: 10px;
  margin-bottom: 20px;
}

.featured-collection-tabs_head-wrap .featured-collection-tabs_link{
  display: flex;
  font-size: 1.4rem;
  flex-shrink: 0;
  padding: 6px 0;
}

.featured-collection-tabs_head-wrap .featured-collection-tabs_link svg{
  line-height: 0;
  max-width: 13px;
  margin-right: 15px;
  margin-top: 7px;
}

.featured-collection-tabs_grid{
  gap: 20px;
}

.featured-collection-tabs_items-list{
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .tabset-content_tabset-link{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .featured-collection-tabs_grid {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media (min-width: 992px) {
  .featured-collection-tabs .tabset-content_tabset-link{
    padding-left: 32px;
    padding-right: 38px;
  }

  .featured-collection-tabs_sidebar .tabset-content_heading {
    font-size: 2.2rem;
  }
  
  .featured-collection-tabs_grid {
    grid-template-columns: repeat(var(--desktop-columns-count),minmax(0,1fr))
  }
}