.template-404_wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  --margin-top: calc(var(--section-margin-top)/100*50);
  --margin-bottom: calc(var(--section-margin-bottom)/100*50);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  --padding-top: calc(var(--section-padding-top)/100*70);
  --padding-bottom: calc(var(--section-padding-bottom)/100*70);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.template-404.scheme,
.template-404 .template-404_wrapper.scheme {
  --top-radius: var(--section-top-radius);
  --bottom-radius: var(--section-bottom-radius);
  border-radius: var(--top-radius) var(--top-radius) var(--bottom-radius) var(--bottom-radius);
}

.template-404.--section_no_border .scheme,
.template-404.scheme.--section_no_border {
  border-radius: 0;
}

.site-logo {
  margin-bottom: 43px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: var(--logo-width);
}

.site-logo img {
  width: 100%;
}

.brand-name h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 2.6rem;
}

.brand-name h4.mty {
  --mt-bottom: 25px;
}

.template-404_logo {
  margin-bottom: 11px;
  max-width: 380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.template-404_text {
  max-width: 482px;
  margin-left: auto;
  margin-right: auto;
}

.template-404_text h1 {
  font-size: 3.6rem;
  line-height: 4.8rem;
  margin-bottom: 20px;
}

.template-404_text p {
  color: var(--section-alternative-color);
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
}

.template-404_logo strong {
  font-size: 11rem;
  line-height: 12.1rem;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 3px 5px 0 var(--section-alternative-color);
  display: inline-block;
}

@media (min-width: 576px) {
  .template-404_logo strong {
    font-size: 13rem;
    line-height: 14.1rem;
  }
}

@media (min-width: 768px) {
  .template-404_text {
    font-size: 1.8rem;      
  }
  
  .template-404_logo strong {
    font-size: 15rem;
    line-height: 16.1rem;
  }
  
  .template-404_wrapper {
    --margin-top: calc(var(--section-margin-top)/100*70);
    --margin-bottom: calc(var(--section-margin-bottom)/100*70);
    --padding-top: calc(var(--section-padding-top)/100*85);
    --padding-bottom: calc(var(--section-padding-bottom)/100*85);
  }
  
  .template-404_text h1 {
    font-size: 4.4rem;
  }
  
  .template-404_text p {
    line-height: 3.2rem;
  }
}

@media (min-width: 992px) {
  .template-404_wrapper {
    --padding-top: var(--section-padding-top);
    --padding-bottom: var(--section-padding-bottom);
    --margin-top: var(--section-margin-top);
    --margin-bottom: var(--section-margin-bottom);
  }
  
  .brand-name h4.mty {
    --mt-bottom: 43px;
  }
  
  .template-404_logo strong {
    font-size: 18rem;
    line-height: 19.1rem;
  }

  .template-404_text h1 {
    font-size: 5rem;
    line-height: 6.2rem;
    margin-bottom: 54px;
  }
}